main{
    display: flex;
    justify-content: space-between;
    min-height: 90vh;
}

.playingVideo{
    padding: 2em;
}

#videoTitle{
    color: #ffffff;
    font-size: 2.3em;
    padding-bottom: .3em;
}

.playingVideo video{
    border: 2px solid #ffffff;
    width: 65vw;
}

#tutorials{
    min-width: 25vw;
    /* border-right: 1px solid #ffffff; */
    border-top: 1px solid var(--darkblue);
    color: #ffffff;
    padding-top: 2em;
}

#tutorials h2{
    font-size: 2em;
    padding-inline: 1em;
    border-bottom: 1px solid var(--darkblue);
}

#videos{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    gap: 1em;
}

.step{
    font-size: 1.2em;
    color: #ffffff;
    cursor: pointer;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-inline: 10px;
    width: 100%;
    margin-left: 7%;
    border-radius: 4px 0 0 4px;
    transition: ease .2s;
}

.step h3{
    display: flex;
    align-items: center;
    gap: 10px;
}

.step img{
    width: 40px;
    height: 40px;
}

.step:hover{
    color: var(--logoblue);
    background-color: #ffffff;
}

.active{
    color: var(--logoblue);
    background-color: #ffffff;
    border-right: 2px solid #ffffff;
}

img, h3, p, .textContent{
    pointer-events: none;
}

@media (max-width: 1040px){
    main{
        min-height: none;
        flex-direction: column;
    }
    #tutorials h2{
        text-align: center;
    }
    .step{
        margin-inline: 0;
        border-radius: 0;
        min-height: 4em;
    }
    #videoTitle{
        font-size: 1.5em;
        text-align: center;
    }
    .playingVideo{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    #video{
        min-width: 80vw;
    }
}

