* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #e66210d7;
    background-size: cover;
}

:root{
    --logoblue: #000;
    --darkblue: #000;
}
