header{
    background-color: #fff;
    min-height: 10vh;
    display: flex;
    align-items: center;
}
logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

#headerLogo{
    max-width: 200px;
}